/* style slider */
.carousel-item {
  height: -720px;
}
.carousel-item img {
  image: -220px;
}
.carousel-item {
  margin-top: auto;
}

.opacity {
  opacity: 0.7;
}

/* style container */

.container-slider-fluid {
  padding-top: -75px;
  padding-bottom: 1px;
}

.container-about {
  padding-top: 6rem;
  padding-bottom: 5rem;
}

.container-project {
  padding-top: 6rem;
  padding-bottom: 1rem;
}

.container-contact {
  padding-top: -5px;
  padding-bottom: 8rem;
}

.container-services {
  padding-top: -6rem;
  padding-bottom: 10rem;
}

.slider-text {
  margin-bottom: -25px;
  margin-top: -25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  font-style: italic;
  font-weight: bold;
}

/* .container {
  padding-bottom: 15px;
}
.container {
  margin-top: 25px;
  margin-bottom: 50px;
} */

.oblique {
  font-style: initial;
  font-size: 20px;
}

.navbar-brand {
  font-style: bold;
  font-size: 25px;
}

/* navbar style */

.nav-item {
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-color: #000;
}

/* footer style */
.card-text1 {
  font-size: 13px;
  margin-bottom: 3px;
}

.card {
  border-color: white;
}
